# **_Pandas Essentials_**

This notebook has a **didactic** purpose, regarding the practical application and annotations about my learning process with Pandas Library.


### **Packages used in this Notebook**

In [3]:
# Packages used in this Notebook
import pandas as pd

# **Data Manipulation with Pandas**

## **1. Basic Dataset Manipulation**

* **Dataset**: [Gas Prices in Brazil](https://www.kaggle.com/matheusfreitag/gas-prices-in-brazil)

* This dataset contains the records of weekly average fuel prices in Brazil between the years 2004 and 2019. 

* Each observation (record/line) consists of a measured price record for a given type of fuel in a given location in Brazil.

* Some of the main attributes (columns) of the dataset are: **'STATUS', 'PRODUCT', 'NUMBER OF SEARCHED STATIONS', 'AVERAGE RESALE PRICE'**.


* The file available in Kaggle is in **TSV** format. Although **Pandas** manages to open it normally, we convert this file to **CSV** format, which is one of the most used formats, and change its separator to ';' just to show some options of loading function.

### **1.1 Importing the Dataset**

To load a dataset in **CSV** format, simply use the `read_csv()` method in Pandas. By default it considers ',' as separator.

In [4]:
# Load the dataset and return a DataFrame instance with your archive data
data = pd.read_csv('./GasPricesinBrazil.csv')

In [ ]:
# Visualizating the dataframe
data

### **1.2 Displaying the first rows of the Dataset**

The `head()` method displays the first 5 rows of the Dataset/Table/DataFrame.

In [ ]:
data.head()

### **1.3 Dataset information and Key Elements**

### **1.3.1 General information about the Dataset**

In [ ]:
# Display Table/DataFrame/Dataset metadata
data.info()



Apparently, no attribute/column has null values (**null**), since the number of records in the dataframe and the number of **non-null** values is **106823**.
But we will see that this is not the case in this case.
 
Also, note that some attributes/columns, e.g. eg '**PREÇO MÉDIO DISTRIBUIÇÃO**', has data type **object** instead of **float**. This **object**, in general, represents **strings**. This looks strange and suspicious. I will see if this is problematic later on.

### **1.3.2 Data Frame**

Every loaded dataset ([structured data](https://aws.amazon.com/pt/what-is/structured-data/#:~:text=Structured%20data%20is%20data%20that,that%20clearly%20define%20data%20attributes.)) is a Data Frame: _**Two-Dimensional Table**_, of changeable size, with potentially [heterogeneous data](http://pubs.sciepub.com/acis/3/1/3/#:~:text=Heterogeneous%20data%20are%20any%20data,high%20data%20redundancy%2C%20and%20untruthfulness.).

In [ ]:
type(data)

We can access the Data Frame dimensions (number of rows x number of columns) using the `shape` attribute of the Data Frame.

In [ ]:
data.shape

In [ ]:
print(f'The DataFrame has {data.shape[0]} Rows/Notes/Records and {data.shape[1]} Columns/Attributes/Variables')

#### **Creating a DataFrame**

We can create a Data Frame from a **dictionary**, where each **key** has a list of elements of equal size.

The **keys** represent the **columns** and **each of the values in its list** represents the corresponding **row value** for that **column**.

In [ ]:
characters_df = pd.DataFrame({
    'name': ['Luke Skywalker', 'Yoda', 'Palpatine'],
    'age': [16, 10, 70],
    'weight': [70.5, 15.2, 60.1],
    'jedi': [True, True, False]  
    })

In [ ]:
characters_df

#### **Renaming Columns in a Data Frame**

The atribute `DataFrame.columns` return a \"list\" with the names of all columns of the Data Frame.

In [ ]:
characters_df.columns


To rename columns of the Data Frame, use the method `DataFrame.rename()`: Return a **copy** of Data Frame with renamed columns.

In [ ]:
characters_df_renamed = characters_df.rename(columns={'jedi': 'is jedi'})  # Rename the column 'Jedi' to 'Is Jedi

In [ ]:
characters_df_renamed

In [ ]:
characters_df

To rename the self Data Frame, use the parameter `inplace=True`.

In [ ]:
characters_df.rename(columns={'jedi': 'is jedi'}, inplace=True)

In [ ]:
characters_df

Another way to rename all columns of a Data Frame is to pass a \"list\" with the new column names to the `DataFrame.columns` attribute:

In [ ]:
characters_df.columns

In [ ]:
characters_df.columns = ['Name', 'Age', 'Weight', 'Is_Jedi']

In [ ]:
characters_df.columns

### **1.3.3 Series**

**One-Dimensional Array** with the data and labels of an axis.

In [ ]:
data.head()

In [ ]:
# Selecting a single column
data['ESTADO']

In [ ]:
# This way of accessing columns, will only work If the column name does not contain blanks or special characters
data.ESTADO

In [ ]:
type(data.ESTADO)

In [ ]:
# Selecting indexed information at index [1] of the Data Frame
data.iloc[1]

#### **Creating a Series**

We can create a Series from a list of elements.

We can change the name of the indexes and the name of the Series (what it represents):

In [ ]:
pd.Series([10, 8.5, 7.0], index=['M1', 'M2', 'M3'], name='Notes')

### **1.3.4 Assigning Data**

#### **1.3.4.1 Assigning constants**

In [ ]:
product_view = data['PRODUTO']  # Returned Series are visualizations of data, not a copy.
product_view

In [ ]:
product_copy = data["PRODUTO"].copy()  # Return a copy of "Product" column  
product_copy.head()

In [ ]:
data["PRODUTO"] = "Fuel"
data.head()

In [ ]:
data["PRODUTO"] = product_copy  # Going back to original products
data.head()

#### **1.3.4.2 Assigning lists or Series**

In [ ]:
nrows, ncolumns = data.shape
nrows, ncolumns

In [ ]:
new_products = [f"Product {i}" for i in range(nrows)]
new_products[:11]

In [ ]:
data["PRODUTO"] = new_products
data.head()

In [ ]:
data["PRODUTO"] = product_copy  # Going back to original products
data.head()

#### **1.3.4.3 Creating new columns**

To **create a new column** in a Data Frame, just assign a list/Series of values or a constant to a new **key** of the Data Frame.

**PS:** The **number of values** in the list must be **equal** to the **number of rows/records** in the Data Frame.

In [ ]:
# Creating a column from a Constant/Default value
# All rows will have the same value to this column
data["Dumb Column"] = "Default"

In [ ]:
data["Dumb Column"]

In [ ]:
data["Column from a List"] =  range(nrows)

In [ ]:
data["Column from a List"]

In [ ]:
# It doesn't work because a new column to be
# Inserted must have the same number of elements
# As the number of rows in the table

try:
    data["Does not Works"] = [1, 2, 3]
    
except ValueError as err:
    print(err)

Another example:

In [ ]:
data["PREÇO MÉDIO REVENDA (DÓLARES)"] = data["PREÇO MÉDIO REVENDA"] * 6
data

**PS:** Obviously, the correct logic for converting fuel prices in reais into dollars is not to consider a fixed exchange rate, since each price was measured at a different time.

### **1.3.4 Indexes**

Each Data Frame has **indexes** which are not considered table columns, such indices are commonly **numeric**, from zero to number_lines - 1, but can also be textual (**labels**).

In [ ]:
data.head().index

Use ```list(data.index)``` or ```data.index.tolist()``` to convert a RangeIndex to a Python list.

#### **Example of Data Frame with Textual Indexes (labels)**

In [ ]:
satisfaction_survey = pd.DataFrame({
    "Good": [50, 21, 100],
    "Bad": [131, 2, 30],
    "Very Bad": [30, 20, 1]
}, index='XboxOne Playstation4 Switch'.split())

In [ ]:
satisfaction_survey.head()

In [ ]:
satisfaction_survey.index

### **1.4 Selecting one or more observations (Indexing)**

**Index-Based Selection**

``` iloc ```: select elements from a Data Frame, based on their **index (number)** -> row-first & column-second

**Selecting a Observation/Row**

In [7]:
# Selecting first line of data frame
first_row = data.iloc[0]

In [ ]:
first_row

In [ ]:
# Slicing at columns by label
first_row["PREÇO MÍNIMO REVENDA":"COEF DE VARIAÇÃO DISTRIBUIÇÃO"]

In [ ]:
# Slicing at columns by index
first_row[9:18]

In [ ]:
# Selecting Rows/Observations of index 1, 5, 10 ,15
data.iloc[[1, 5, 10, 15]]